*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.container{
height: 100vh;
width: 100%;
background: linear-gradient(315deg, #00ccff, #0e1538, #d400d4);

/*background-image: url(picture.jpg);*/

/*background:  #ff852d;*/
display: flex;
justify-content: center;
align-items: center;

}
.menu{
overflow: hidden;
display: flex;
background: #fff;

box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.1);


}
.menu div{

font-size: 30px;
padding: 20px 80px;
cursor: pointer;
position: relative;
transition: transform 0.5s;

}
.menu div span{

    padding: 20px 80px;
    position: absolute;
    color: #ff5361;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0%;
    border-bottom: 5px solid #ff5361;


}
.menu div:hover{

transform: translateY(-100%);




}